language: go

go:
  - "1.15"

install:
  - go get github.com/mattn/goveralls
  - GO111MODULE=on go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.17.1

script:
  - go get -t ./...
  - goveralls -service=travis-ci
  - golangci-lint run --disable-all -E errcheck -E vet -E gofmt -E misspell -E ineffassign -E goimports -E deadcode  -E structcheck -E varcheck -E typecheck -E gosimple -E staticcheck

before_deploy:
  - go get github.com/mitchellh/gox
  - go get github.com/tcnksm/ghr
  - # make an dist/OS_ARCH.tar.gz for each platform, and put the binary in the top level
  - gox -ldflags="-X \"github.com/bengadbois/pewpew/cmd.buildTime=$(date)\" -X \"github.com/bengadbois/pewpew/cmd.version=$TRAVIS_TAG\"" -osarch "darwin/amd64 freebsd/386 freebsd/amd64 freebsd/arm linux/386 linux/amd64 linux/arm netbsd/386 netbsd/amd64 netbsd/arm openbsd/386 openbsd/amd64 windows/386 windows/amd64" -output "dist/{{.OS}}_{{.Arch}}/{{.Dir}}/{{.Dir}}"
  - for i in $(find dist -mindepth 1 -maxdepth 1 -type d); do tar -czf "$i".tar.gz -C "$i" "."; done

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file:
    - dist/darwin_amd64.tar.gz
    - dist/freebsd_386.tar.gz
    - dist/freebsd_amd64.tar.gz
    - dist/freebsd_arm.tar.gz
    - dist/linux_386.tar.gz
    - dist/linux_amd64.tar.gz
    - dist/linux_arm.tar.gz
    - dist/netbsd_386.tar.gz
    - dist/netbsd_amd64.tar.gz
    - dist/netbsd_arm.tar.gz
    - dist/openbsd_386.tar.gz
    - dist/openbsd_amd64.tar.gz
    - dist/windows_386.tar.gz
    - dist/windows_amd64.tar.gz
  skip_cleanup: true
  on:
    tags: true
    go: "1.15"
